.margin-horizontal{
    margin: 0 1%;
}

.action-btn{
    padding-top:24px;
    justify-Content:space-evenly;
}

.margin-top{
    margin-top: 1%;
}

.margin-left{
    margin-left: 1%;
}

.align-center{
	text-align: center;
	margin: 2%;
}

.align-left{
	text-align: center;
	margin: 2%;
}

.align-right{
	text-align: center;
	margin: 2%;
}

@media (max-width: 768px){   
    lightning-input {
        width: max-content;
    } 
}